<style>
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
      opacity: 0;
      &.ng-enter-active {
        opacity: .5;
      }
    }
    &.ng-leave {
      opacity: .5;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
</style>
<div class="container" ng-controller="productController">
  <br>
  <form>
    <div class="form-group w3-container w3-card-4">
      <br>
      <b> <label for="sel1">{{category.name}}</label> </b>
      <b> <label for="sel1" style="float:right">Toplam : {{localStorage.cart.totalAmount}}</label> </b>
      <div class="w3-container w3-card-4">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products | orderBy:'list_order'" ng-click="showProductModal(product)">
              <td><a>{{product.name}}</a></td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
      <br>
    </div>
  </form>
  <br>
</div>
